*{
    margin:0px;
    padding: 0px;
}
html,body{
    background-color:rgba(0, 0, 0,0);
    width:100%;
    flex-direction:column;
    justify-content:flex-end;
    height:100vh;
    background:linear-gradient();
    min-width:320px;
}
.cabecalho_full{
    position: absolute;
    transition:all .8s;
    background-color:rgba(0, 0, 0, 0.295);
    top: 0;
    left: 0;
    height:130px;
    width: 100%;
    display:flex;
    flex-direction:column;    
    flex-wrap:nowrap;
    background-size:cover;
} 
.div-cabeçalho-midias-full{
    width: 90%;
    padding: 10px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    color:white;
}
#div-cabeçalho-midias img{
    width:20px;
    height:20px;
    margin-right:20px;
}
#span-logo{
    color:rgb(255, 34, 34);
    font-family: sans-serif;
    font-size: 30px;
}
footer{
    display:flex;
    background-color:rgba(61, 56, 56,.3);
    width:100%;
    text-align: center;
    padding-top:.5%;
    align-items: center;
    flex-wrap:wrap;
    justify-content:center;
    border-bottom:solid red 3px;
}
.div-bt-menu-full{
    background-color:rgba(0, 0, 0,0);
    display:flex;
    align-self:end;
    width:99%;
    height:100%;
    justify-content:flex-end;
    align-content: center;  
    align-items:center;
    border-top:solid rgb(92, 6, 6) 3px;
}
.classe-bt-menu{
    padding: 15px;
    text-decoration: none;
    width:15%;
    text-align: center;
    font-family: sans-serif;
    font-size:20px;
    background-color:rgba(0, 0, 0,0);
    color:white;
    border-right:none;
    border-left: none;
    box-shadow: 0px 0px 10px rgba(243, 243, 243,.0);
    transition:all .5s;
}
.classe-bt-menu:hover{
    background-color:rgb(191, 4, 17);
    color:white;
    box-shadow:0px 0px 20px rgba(236, 17, 31, 0.5);
}
#form-buscar{
    display:grid;
    align-items:center;
    grid-template-columns:85% 18%;
}
#form-buscar input{
    height:30px;
    border-radius:20px;
    width:200px;
}
#form-buscar button{
    background-color: rgba(0, 0, 0,0);
    border: none;
}
#img-ico_lupa:hover{
    width:40px;
}
#span-copyright{
    width:100%;
    font-family: sans-serif;
    font-size:80%;
}
.ico_midia{
    width:40px;
    height:40px;
    margin-right:20px;
}
#div-midia{
    display:flex;
    width: 100%;
    justify-content:center;
}
.logo-full{
    display:flex;
    position: absolute;
    left:3%;
    margin-top:1%;
    background-color:#e4d6d6;
    height:160px;
    border-radius:5px 10px 10px 100px;
    width:300px;
    box-shadow:10px 20px 100px rgba(87, 4, 4, 0.76);
    text-align:center;
    justify-content:center;
    align-items:center;
}
.div-midias-lateral{
    transition:all 1.3s;
    display:flex;
    flex-direction:column;
    left:3px;
    top:30%;
    width:50PX;
    position:fixed;
}
.div-midias-lateral-a{
    transition:all 2s;
    display:flex;
    position:fixed;
    flex-direction:column;
    left:-80px;
    top:30%;
    width:50PX;
}
#div-midias-lateral img{
    width:100%;
}
.bt-midia{
    margin-top:4px;
    width:90%;
    background-color:#ff9c4a;
    background-color:rgba(0,0,0,0);
    border:none;
    
}
.bt-midia:hover{
    margin-top:4px;
    width:100%;
    background-color:rgba(0,0,0,0);
}
#div-logo a{
    pointer-events:none;
}
/*                     CABEÇALHO PEQUENO           */
.logo-off{
    display:flex;
    background-color:#e4d6d6;
    height:80px;
    border-radius:3px 7px 7px 50px;
    width:200px;
    box-shadow:10px 20px 100px rgba(87, 4, 4, 0.76);
    text-align:center;
    justify-content:center;
    align-items:center;
    margin-top:2vh;
    margin-left:2vw;
}
.logo-off img{
    width:200px;
}
.div-cabeçalho-midias-off{

}
.div-bt-menu-off{ 
    display:flex;
    flex-direction:column;
    width:180px;
    padding:5px;
    background-color:rgba(0, 0, 0, 0.5);
    height:280px;
    position:fixed;
    right:-200px;
    justify-content:flex-end;
    align-items:left;
    border-radius:100px 0px 0px 0px;
    box-shadow:0px 0px 100px rgba(0,0,0,.9);


}
.div-bt-menu-off a{ 
    background-color:black;
    width:100%;
    font-size:90%;
    border:solid red 1px;
    border-left:none;
    border-right:none;
}
#cabecalho input{
    position:fixed;
}
.cabecalho_off{
    position:fixed;
    z-index:1;
    flex-shrink:1 0;
    background-color:rgb(0, 0, 0,.85);
    top: 0;
    left: 0;
    height:80px;
    width: 100%;
    display:flex;
    flex-direction:row;    
    flex-wrap:nowrap;
    justify-content:space-between;
    border-top:solid red 3px;
    transition:all .3s;
} 
input[type="checkbox"]:checked ~ #div-bt-menu{
    transform:translateX(-200px);
}
#lb-chec{
    display:flex;
    z-index:1;
    justify-content:flex-end;
    width:10%;
}
#lb-chec img{
    padding:10px;
    max-width:70px;
    min-width:60px;
}
#chec{
    display:none;
    width:20%;
}
.video-bg{
    position: absolute;
    margin:0px;
    padding: 0px;
    right:0;
    bottom:0;
    width:100vw;
    height:auto;
    z-index: -1;
    pointer-events: none;
}
@media (min-aspect-ratio:16/9){
    .video-bg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .video-bg{
        width: auto;
        height: 100%;
    }
}
::-webkit-scrollbar-track {
    background-color: #0c0c0c;
}
::-webkit-scrollbar {
    width:10px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: rgba(191, 4, 16, 0.849)
}