@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

#div-container-conteudo{
    flex-shrink:1;
    display:flex;
    align-content:space-around;
    align-items:top;
    justify-content:flex-start;
    flex-direction:column;
    flex-wrap:wrap;
    width:100%;
    height:110%;
    background-color:rgba(0,0,0,0);
}
#div-conteudo{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0);
}
#slides{
    display:flex;
    width:90%;
    height:99%;
    background-color:rgba(0,0,0,0);
    max-width:850px;

}
#img-slide{
    border-radius:20px;
    box-shadow:10px 15px 10px rgba(0, 0, 0, 0.233);
    max-width:960px;
    min-height:260px;
    max-height:500px;
    transition:.1s;
}
h1{
    text-align:center;
    width:90%;
    font-size:4vw;
    font-family:sans-serif;
    letter-spacing:8px;
    text-shadow:0px 0px 10px rgb(75, 74, 74);
    color:white;
    border-bottom:solid red 2px;
    border-top:solid red 2px;
    box-shadow:5px 5px 5px 5px rgba(61, 60, 60, 0.123);
}
.bt-slide{
    background-color:rgba(243, 24, 24, 0);
    border:none;
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
.bt-slide img:hover{
    border-radius:100px;
    box-shadow:0px 0px 5px black;
}
.bt-slide:active{
    border-radius:100px;
    box-shadow:0px 0px 5px black;
    background-color: rgba(0, 0, 0, .7);
}
#bt-anterior{
    position:absolute;
    left:14%;
}
#bt-proximo{
    position:absolute;
    right:14%;
}
#div-slides-container{
    width:99.5%;
    height:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:rgb(197, 193, 193);
    flex-shrink:1;
    border: solid rgba(255, 6, 6, 0.774) 3px;
    background-color:rgba(53, 34, 231, 0.24);
}
#div-slides{
    width:90%;
    height:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(197, 193, 193);
    flex-shrink:0;
    background-color:rgba(0, 0, 0, 0);
}
#div-indice{
    display:flex;
    justify-content:center;
    width:100%;
    background-color:rgba(0,0,0,0);
    height:15px;
    align-self:flex-end;
}
#slides{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.input-indice{
    width:30px;
    pointer-events:none;
    margin-top:3px;

}
/* ------------------------- */
#div-blocos-container{
    display:flex;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.849);
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    flex-shrink:1;
    height:auto;
}
#titulo-produtos{
    text-align:center;
    width:90%;
    flex-shrink:0;
    font-size:3vw;
    font-family:sans-serif;
    letter-spacing:8px;
    text-shadow:0px 0px 10px rgb(75, 74, 74);
    color:white;
    border-top:solid red 2px;
}
#div-blocos{
    display:flex;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0);
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    flex-shrink:0;
    align-items:center;
}
.div-bloco{
    margin:10px;
    width:25vw;
    min-width:350px;
    min-height:300px;
    height:300px;
    background-color:rgba(255, 255, 255, 0);
    box-shadow:10px 10px 10px rgba(0, 0, 0, .8);
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    flex-shrink:0;
    border:solid white 2px;
}
.div-bloco:hover{
    transition:all 2s;
    position:relative;
    bottom:7px;
}
#bloco1{
    background-image: url("imagens/bloco1-foto1.jpg");
    background-position:center;
    background-size:cover;
}
#bloco2{
    background-image: url("imagens/bloco1-foto2.jpg");
    background-position:center;
    background-size:cover;
}
#bloco3{
    background-image: url("imagens/bloco1-foto4.jpg");
    background-position:center;
    background-size:cover;
}
.h3-produtos{
    font-family:sans-serif;
    font-size:35px;
    text-shadow:0px 0px 10px rgba(255, 0, 0, 0.767);
    color:white;
    text-align: center;

}
.titulo-bloco{

}
a{
    color:black;
}

#bloco2-titulo{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    width:100%;
    height:20%;
}
#diego-bloco2{
    width:40%;
    height:60%;
}
#logo-bloco2{
    align-self:top;
}
#titulo-bloco2{
    font-family:sans-serif;
    font-size: 220%;
    color:rgba(0, 0, 0, 0.979);
    text-shadow:7px 7px 7px rgba(0, 0, 0, 0.295);
    color:rgba(0, 0, 0,.95);
    text-align:center;
}
.video-bg{
    position: absolute;
    margin:0px;
    padding: 0px;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height:100%;
    z-index: -1;
    pointer-events: none;
}
@media (min-aspect-ratio:16/9){
    .video-bg{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .video-bg{
        width: auto;
        height: 100%;
    }
}
/* ------------------------------------------------- */
#div-inicial{
    width:100%;
    height:90.8%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(0,0,0,0);
    flex-shrink:0;
}
#bt-produtos{
    border:solid white 3px;
    margin-top:1%;
    width:180px;
}
#div-aonde-comprar-container{
    background-position:center;
    background-size:cover;
    background-image:url("imagens/mapa_bg.jpg");
    display:flex;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.849);
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    flex-shrink:1;
    border-bottom:solid rgb(0, 0, 0) 5px;
    border-top:solid rgb(0, 0, 0) 5px;
}
#div-bt-revenda{
    width: 100%;
    display:flex;
    justify-content: space-around;
}
#bt-mapa img{
    width:100%;
    background-color: rgba(0, 0, 0, 0);
}
#bt-mapa{
    width:10%;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    transform: rotate(-15deg);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#bt-mapa:hover{
    position: relative;
    bottom:10px;
    background-color: rgba(0, 0, 0, 0);
    border:none;
}
#aonde-comprar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
}
#titulo-revendas{
    text-align:center;
    font-size:2rem;
    font-family:sans-serif;
    text-shadow:0px 0px 10px rgb(75, 74, 74);
    color:rgb(2, 2, 2);
    transform:rotate(-5deg);
}
#bt-click-aqui{
    height:20%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size:20px;
    background-color:rgb(247, 11, 11);
    color:white;
    border:none;
    box-shadow: 0px 0px 10px rgba(243, 243, 243,.0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}
#bt-click-aqui:hover{
    background-color:rgb(191, 4, 17);
    color:white;
    box-shadow:0px 0px 20px rgba(236, 17, 31, 0.5);
}
#div-midias-lateral-container{
    display:flex;
    justify-content:center;
    flex-direction:column;
    position:fixed;
    left:0;
    top:30%;
    width:50PX;
}
#bt-minimizar{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    position: relative;
    top:240px;
    width:40px;
    background-color: rgba(87, 85, 85, 0);
    border: none;
    border-left:solid rgb(250, 250, 250) 5px;

}
#bt-minimizar:active{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    position: relative;
    top:240px;
    left:-4px;
    width:40px;
    background-color: rgba(87, 85, 85, 0);
    border: none;
    border-left:solid rgb(250, 250, 250) 5px;
}
#bt-minimizar img{
    width:100%;
    background-color: rgba(0, 0, 0,0);
}
#div-sobre-nos{
    display:flex;
    justify-content:flex-start;
    background-color:rgba(0, 0, 0, 0.849);    
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    border-bottom:solid rgb(0, 0, 0) 5px;
    border-top:solid rgb(0, 0, 0) 5px;
}
#div-sobre-nos-foto{
    display:flex;
    border-right: solid white 5px;


}
#diego-foto{
    width:50%;
}
#p-sobre-nos{
    font-size:200%;
    text-align:center;
    font-family:sans-serif;
    text-shadow:0px 0px 10px rgba(179, 25, 25, 0.548);
    color:white;
}
#bt-sobre-nos{
    height:20%;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    font-size:20px;
    background-color:rgb(247, 11, 11);
    color:white;
    border:none;
    box-shadow: 0px 0px 10px rgba(243, 243, 243,.0);
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    
}
#bt-sobre-nos:hover{
    background-color:rgb(191, 4, 17);
    color:white;
    box-shadow:0px 0px 20px rgba(236, 17, 31, 0.5);
}


